body{
    background-color: darkgray;
    width: 90%;
    margin: auto;
    overflow: auto;
}
#header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    }
#container{
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: left;
    }
#cart-container{
    width: 30%;
    float: right;
    top: 50px;
    overflow: auto;
    font-size: small;
}
img{
    height: 60px;
}
.products{
    border: 1px solid #333;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 16px;
    margin-bottom: 20px
}
.hide{
    display: none;
}
.display{
    visibility: visible;
}
#order-table{
    width: 30%;
}
#login-container{
    margin: 50px;
    background-color: darkblue;
    color: white;
    font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;
    font-size: x-large;
    font-style: normal;
}
.login-input{
    background-color: white;
    color: #333333;

}

h3{
    margin-bottom: 0px;
}
td{
    margin: 4px;
}
